* {   							/*эти стили применимы ко всей странице*/
	margin:0; 					/*внешний отступ 0 - на всю страницу*/
	padding: 0; 				/*внутренний отступ 0*/
}

/*стили приминяемые к класам, тегам во всей странице описываем сверху*/

body { 							/*стиль для тела сайта - body*/
	font-size: 1.2em; 			/*размер шрифта*/
	background-color: #fff;		/*цвет фона*/
	color: #555;				/*цвет шрифта*/
}

p { 							/*стиль для заголовков*/
	padding: 0 0 20px 0;		/*внутренний, нижний отступ*/
	line-height: 1.7em;			/*межстрочный интервал*/
}

input[type="text"], input[type="password"], input[type="search"] {  /*общие стили для ввода данных:текста, паролей, поиска*/
	color: #5d5d5d;													/*цвет ввода данных*/
	width:60%;														/*ширина полей для ввода*/		
	padding: 8px;													/*внутренний отступ по всем краям 8px - устанавливает размер поля ввода*/
}

input, textarea {			 	/*стили для всех вводов данных и ввода текста*/  
	outline: none;  			/*такой же как border, только не влияет на ширину элемента*/
	border: none;  				/*outline:none, border:none - если их прописать то рамка не будет подсвечиватся и отобразится без подсвечивающих линий при наведений и вводе данных*/
	border:solid 1px #f2f2f2;	/*цвет рамки*/
}

h1, h2 {						/*стили для заголовков и подзаголовков*/
	font: normal 170% 'century gothic', arial; /*шрифт, обычный размер 170, arial*/
	margin: 0 0 15px 0;			/*внутренний нижний отступ*/			
	padding: 15px 0 5px 0;		/*верхний и нижний внутренний отступ*/
	color: #000;				/*цвет шрифта*/
}

h2 {							/*цвета для всех подзаголовков*/
	font-size: 140%;			/*шрифт 140%, поменьше чем заголовок*/
}

a, a:hover {					/*стили для ссылок и наведении на ссылки*/
	outline: none;				/*убирает рамки*/
	text-decoration: underline; /*оформление ссылок с подчеркиванием*/
	color: #aeb002;				/*цвет ссылок*/
}

ul {							/*стили к маркированным спискам, элементы списка также наследуют этот стиль*/
	margin: 2px 0 22px 17px;	/*отступы сверху, снизу и слева*/
}

ul li {						/*стили к элементам списка*/
	margin: 0 0 6px 0;			
	padding: 0 0 4px 5px;
	line-height: 1.5em;		/*межстрочный интервал*/
}

hr {						/*стиль линий*/
	border: solid 1px #f3f3f3;
}

.header { 
	background-color: darkslateblue; /* цвет фона меню header*/
	height: 177px; 			/*высота*/
	font-size: 0.8em; 		/*размер шрифта*/
	margin-left: 0px; 		/*внешний отступ слева*/
	margin-right: 0px; 		/*внешний отступ справа*/
	min-width: 900px; 		/*минимальная ширина элемента, если окно браузера по ширине становится меньше заданной ширины то ширина элемента останется неизменной а в окне появится полоса прокрутки*/
}

.main, .logo, .menubar, .site_content, .footer { /*для текущих блоков устанавливаем автоматический внешний отступ*/
	margin-left: auto;
	margin-right: auto;
}

.logo { 					/*стили блока logo, блок на котором написан текс логотипа*/
	width: 880px; 			/*ширина блока*/
	padding-bottom: 40px; 	/*внутренний, нижний отступ */
}

.logo h1, .logo h2 {        /*стили для блока логотипа: Заголовок(h1), подзаголовок(h2)*/
	font: normal 300% 'century gothic', arial, sans-serif; /*шрифт, Значение normal применяется сразу к двум свойствам: font-style и font-weight*/
	margin: 0 0 0 9px; 		/*Внешний отступ с левого края*/
}

.logo_text h1, .logo_text h1 a, .logo_text h1 a:hover { /*стили для текста логотипа h1 "КиноМания", для ссылки a1 логотипа "КиноМания", также стиль элемента при наведений на ссылку hover*/
	padding: 22px 0 0 0;    /*внутренний отступ по высоте от блока logo*/
	color: #fff;         	/*цвет текста*/
	letter-spacing: 0.1em;	/*интервал между символами по размеру шрифта - "em"*/
	text-decoration: none;	/*убрать подчеркивание - none - отменяет все эффекты*/
}

.logo_text h2 {         	/*Установка стилей для подзаголовка h2 "Кино-наша жизнь"*/
	font-size: 0.9em;   	/*Размер шрифта текса*/
	padding: 4px 0 0 0; 	/*верхний внутренний отступ текста в блоке logo*/
	color: #999;        	/*цвет текста "Кино-наша жизнь"*/
}

.menubar {     				/*Установка ширины и высоты блока menubar*/
	width: 900px; 
	height: 46px;
}

ul.menu { 					/*стиль меню - menu*/
	float: right;  			/*выравнивание по правому краю блока menubar*/
}

ul.menu li {             	/*стили списков menu*/
	float: left;			/*выравнивание по левому краю*/
	padding: 0 0 0 9px; 	/*внутренний отступ по левому краю от блока menubar*/
	list-style: none;    	/*убрать точки со списка меню*/
	margin: 1px 2px 0 0; 	/*внешний верхний отступ*/
}

ul.menu li a {									/*стили списка меню, ссылки*/
	font:normal 100% 'trebuchet ms', sans-serif; /*шрифт, Значение normal применяется сразу к двум свойствам: font-style и font-weight*/
	display: block; 		/*элемент показывается как блочный*/
	height: 20px;			/*высота*/
	padding: 6px 35px 5px 28px; /*внутренний отступ*/
	color: #fff;			/*цвет*/
	text-decoration: none;	/*убрать подчеркивания, none - отменяет все эфекты*/
}

ul.menu li.selected a { 	/* при переходе в строку меню ul.menu li (выбор строки) подсвечивается цветом указанном в color*/
	color: #aeb002;
}

ul.menu li a:hover {   		/*при наведений курсора на меню ссылки(li - a) подсвечивается цветом указанный в color (hover подсвечивает при наведений)*/
	color: #e4ec04;
}

.site_content {
	width: 880px; 			/*ширина блока*/
	overflow:hidden; 		/* скрыть контент который выходит за рамки заданного размера -если что-то выходит за рамки заданного размера Div(блока) то это не отображается*/
	margin: 20px auto 0 auto; /*внешний отступ с верхней стороны 20рх*/
	background-color: white; /*белый цвет фона*/
}

.sidebar_container {		/*стили для правого блока сайта*/	
	float: right;			/*прижать к правому краю*/
	width: 224px;			/*ширина блока*/
}

.sidebar {					/*стили блоков внутри правого блока*/
	float: right;			/*прижать к правому краю*/
	width: 222px;			/*ширина*/
	padding: 5%;			/*внутренний отступ 5%*/
	margin: 0 0 16px 0;		/*внешний нижний отступ*/
	border: solid 1px #f2f2f2; /*border - рамка вокруг блока, solid - тип рамки, 1px-толщина, цвет*/ 
	border-radius: 5px; 	/*округляет края рамки*/ /*border создает рамку, в данном случае вокруг блоков правого блока sidebar_container*/
	background-color: #f9f9f9; /*фон блока, то что внутри рамки*/
}

.btn { 						/*стили для кнопок */
	padding: 8px;
	background-color: white;
	cursor: pointer;		/*устанавливает форму курсора пальчика, при наведений на кнопку*/
}

.sidebar h2 {				/*стили для подзаголовков внутри блока sidebar*/
	color: #136cb2;			
}

.lables_passreg_text {		/*стиль для ссылки регистрация и восстановления пароля*/
	font-size: 0.7em;	
	margin-top: 3%;
	margin-left: 2%;
}

.sidebar ul {				/*стиль для маркированного списка, блока sidebar - в данном случае рейтинг фильмов*/
	margin: 0;
}

.sidebar ul li {			/*стили для элементов маркированного списка, блока sidebar*/
	list-style-type: none;	/*убрать маркеры с элементов маркированного списка (точки рядом со списком)*/
	margin: 0 0 0 0;
}

.sidebar .rating_sidebar {	/*стили для списка - блока рейтинг фильмов* - приминимы только на название фильмов в рейтинге, используется span*/
	float: right;			/*прижать с права список фильмов в блоке рейтинг фильмов*/
}

.content { 					/*стили для блока content  - основной контент на второй странице*/
	text-align: left;		/*прижать текст по левому краю*/
	width: 620px;			/*ширина*/
	padding: 0 0 0 5px;		/*отступ слева*/
	float: left;			/*выравнивание элемента по левой стороне*/
}

.content a {				/*стили для ссылок в блоке content*/
	text-decoration: none;	/*оформление текста отсутствует*/
}

.films_block {				/*стили для блока картинок, изображении фильма*/
	margin-bottom: 5%;		/*отступ снизу 5%*/
}

.films_block img {			/*стили для блока картинок, изображении фильма img*/
	border-radius: 5px;		/*округляет углы рамки*/
	border:solid 5px #dad7d5; /*округляет элемент - создает рамку*/
	width: 22%;				/*ширина 22%*/
}

.posts .posts_content {		/*стиль блока posts .posts_content, размер шрифта*/
	font-size: 0.8em;
}

.info_film_page {  			/*стиль блока воспроизведения видео (html код с ютуба) и подписи (рейтинг, режиссер итд)*/
	margin-top: 2%;			/*отступ сверху 2%*/
	margin-bottom: 4%;		/*отступ снизу 4%*/
}

.info_film_page .label {	/*стиль подписи - рейтинг, режиссер итд*/
	font-size: 1.2em;		/*размер шрифта*/
}

.info_film_page .value {	/*стиль подписи после двоеточия рейтинг, режиссер итд*/
	font-size: 1em;			/*размер шрифта*/
	color: #49945a;			/*цвет*/
	margin-right: 3%;		/*отступ справа*/
}

.descriptions_film {			/*стиль для описания текста в блоке content*/
	margin-bottom: 15%; 
}

.descriptions_film img {		/*стиль для картинки в блоке description_film*/
	float: left; 			/*прижали картинку по левому краю чтобы текст не обтекал картинку, иначе текст будет ее обтекать*/
	margin-right: 2%;		/*отступ справа от картинки*/
	border-radius:5px;		/*обводка краев картинки, округление*/
	border: solid 5px #dad7d5; /*обводка картинки, создание рамки*/
}

.reviews {					/*блок отзыва, самый верхний уровень в котором уже пишутся review_name и review_text*/
	margin-bottom: 4%;		/*отступ снизу 4%*/
	font-size: 0.9em;		/*шрифт 9 пикселей*/
}

.reviews .review_name {		/*стили для блока отзыв и имени автора отзыва*/
	background-color: #7268ad;
	color: white;
	padding: 1%;			/*внутренний отступ*/
	border-top-left-radius: 5px; /*округление верхнего, левого угла*/
	border-top-right-radius: 5px; /*округление верхнего, правого угла*/
}

.reviews .review_text {		/*стили для блока Отзыв и блока текста отзыва*/
	padding-top: 2%;		/*внутренний верхний отступ 2%*/
	padding-bottom: 2%;		/*внутренний нижний отступ 2%*/
	padding-left: 2%;		/*внутренний левый отступ 2%*/
}

.send {						/*стил для добавления поста (отзыва о фильме/о сайте)*/
	margin-bottom: 4%;		/*отступ нижний*/
}

.send input[type="text"], textarea {	/*стиль для добавления поста текста (тип-text), текста отзыва(textarea)*/
	border:solid 1px #c3c3c3;			/*создание рамки, толщина рамки*/
	margin-bottom: 2%;
}

.send input[type="text"] {				/*стиль для добавления поста текста (тип-text)*/
	width: 98%;							/*ширина 98%*/
}

.send textarea {						/*стиль для добавления поста, текста отзыва(textarea)*/					
	width: 624px;						/*ширина*/
	height: 200px;						/*высота*/
}

.send input[type="submit"] {			/*стиль для добавления поста, кнопки отправить*/			
	background-color: #7268ad;
	padding: 3%;
	color: white;
	border-radius: 5px;
}

.send_contact input[type="text"] {		/*стиль для добавления поста на станице Контакты, текста (тип - text)*/	
	width: 500px;
}

.send_contact textarea {				/*стиль для добавления поста на странице Контакты, текста отзыва(textarea)*/
	width: 516px;
}

.info_film {							/*стили для страницы films для блока content*/
	margin-bottom: 5%;					/*нижний отступ 5%*/
	background-color: #f9f9f9; 			/*цвет фона блока info_film*/
	padding: 5%;						/*внутренний отступ блока (содержимого блока от краев блока info_film)*/
	height: 270px;						/*высота блока*/
}

.info_film img {						/*стили картинок в блоке стилей info_film*/
	float: left;						/*прижать по левому краю чтобы текст был ровно на уровне картинки*/
	margin-right: 2%;					/*отступ справа от картинки*/
	border-radius: 5px;					/*обводка краев картинки, округление*/
	border:solid 5px #dad7d5;			/*создание рамки, толщина и цвет рамки*/
	width: 25%;							/*ширина картинки*/
}

.button {								/*стили для кнопок в блоке info_film*/
	background-color: #7268ad;			/*цвет фона кнопки*/
	padding: 2%;						/*внутренний отступ от краев текста кнопки*/
	color: white;						/*цвет текста кнопки*/
	border-radius: 5px;					/*округление краев кнопки*/
	float: right;						/*прижать по правому краю*/
	margin-top: 5%;						/*отступ сверху 5%*/
	clear: both; 						/*запрещаем обтекание элемента button с левой и с правой стороны (кнопка остается на своем месте в не зависимости от длины текста - не сдвинется наверх при уменьшении текста)*/
	font-size: 0.8em;					/*размер шрифта*/
}

.button a {								/*ссылка в стиле button*/
	color: white;						/*цвет ссылки белый*/
}

table {									/*стили для таблиц*/
	width: 100%;						/*ширина на всю ширину блока где стоит таблица*/
	border:solid 1px #f4f4f4;			/*рамка таблицы, толщина, цвет*/
}

td {									/*стили для ячейки строки содержимого таблицы*/
	padding: 2%;						/*внутренний отступ от краев ячейки*/
	border: solid 1px #f4f4f4;			/*рамка ячейки*/
}

td img {								/*стили для картинок внутри табличной ячейки*/
	width: 60px;						/*ширина картинки*/
	vertical-align: middle;				/*выравнивает внутреннее поле ячейки по центру относительно строки таблицы*/
}

.center {								/*стиль для ячейки таблиц чтобы текст выравнивать по центру*/
	text-align: center;					/*выравнивание по центру*/
}

.rating {								/*стиль для ячейки таблиц чтобы текст был жирным*/
	font-weight: bold;					/*оформление текста жирным пунктиров*/
}

.footer {					/*стили для нижней части сайта*/
	width: 100%;			/*ширина на всю ширину сайта*/
	height: 100px;			/*высота 100px*/
	padding: 28px 0 5px 0;	/*отступ сверху и снизу*/
	text-align: center;		/*разместить текст по центру*/
	background-color: darkslateblue;	/*фон стиля*/
	color: #a8aa94;			/*цвет текста*/
	margin-left: 0px;		/*внешнего отсупа слева нет*/
	margin-right: 0px;		/*внешнего отсупа справа нет*/	
	min-width: 900px;		/*Если окно браузера становится меньше чем 900px то ширина элемента остается не изменной - у нас фиксированная верстка*/
}

.footer a {					/*стиль для ссылок блока footer*/
	color: #a8aa94;			/*цвет*/
	text-decoration: none;	/*оформление текста отсутствует*/
}

.footer a:hover {			/*стиль при наведении на ссылку в блоке footer*/
	color: #fff;			
	text-decoration: none;
}

.footer p {					/*стиль подзаголовка в блоке footer*/
	padding: 0 0 10px 0;
}


/* CSS Mobile 320*568*/    /*все что ниже этой строки это стили адаптированные под верстку для разрешения 320*568*/

@media only screen  					/*подключение медиа запроса, условие только для мониторов, для старых мониторов не поддерживающих медиа-запросы*/
and (min-device-width: 320px)			/*стили применяются если: /*минимальная ширина экрана 320px*/
and (max-device-width: 568px) {									  /*максимальная ширина экрана 568px*/
	
	.header {							/*верхняя часть нашего сайта*/
	background-color: #257965;			/*меняем цвет*/
	min-width: 100%;					/*минимальная ширина 100%*/
	height: 20%;						/*высота 20%*/
	text-align: center;					/*текст разместить по центру*/
	}

	.logo {								/*блок логотипа*/
		width: 100%;					/*ширина на всю страницу*/
	}

	.site_content {						/*блок содержимого сайта*/
		width: 100%;					/*ширина на всю страницу 100%*/
		text-align: center;				/*расположение текста в блоке site_content по центру*/
	}
	
	.menubar {							/*блок на котором находится меню*/
		width: 100%;					/*ширина на всю ширину блока header*/
		height: 100%;					/*высота на всю высоту блока header в котором находится menubar*/
	}

	.sidebar_container {				/*стили для правого блока сайта*/
		display: none;					/*не дает отображать текущий блок в рамках данного разрешения*/
		}

	.footer {							/*стили для нижнего блока сайта*/
		display: none;					/*не дает отображать текущий блок в рамках данного разрешения*/
	}
	
	ul.menu {							/*стиль меню - menu*/
		float: none;					/*применение расположения объекта: не используется*/
	}

	ul.menu li {						/*стили списка меню*/
		margin:0;						/*внешних отступов нет*/
		padding: 0;						/*внутренних отступов нет*/
		float: none;					/*применение расположения объекта: не используется*/
	}

	.logo h1 {							/*стиль для логотипа - КиноМания*/
		font: normal 235% 'century gothic', arial, sans-serif;
	}

	.logo h2 {							/*стиль для подтекста логотипа*/
		font: normal 100% 'century gothic', arial, sans-serif;
	color: white;
	}	

	.content {							/*блок с контектом сайта*/
		width: 100%;					/*ширина блока по всему браузеру*/
		text-align: center;				/*расположение текста по центру*/
	}	

	.films_block img {					/*картинки с блоком расположения фильмов*/
		width: 43%;
	}

	.content h1, h2 {					/*стиль - заголовок и подзаголовок блока content*/
		font: normal 110% 'century gothic', arial;
	}

	.posts_content p {					/*стили для текста поста, в блоке содержимого поста - posts_content*/
		line-height: 1.5em;				/*интервал между строками*/
		padding: 3%;					/* внутренний отступ от блока posts*/
		text-align: left;				/*прижать содержимое текста по левому краю в блоке posts_content*/
	}

	.posts p {							/*стиль для ссылки читать*/
		font-size: 120%;				/*размер шрифта */
	}

	/* films page mobile 320*568*/		/*стили ниже для страницы films в разрешении 320*568*/

	.info_film {						/*блок содержимого страницы films в блоке content*/
		float: none;					/*применение расположения объекта: не используется*/
		height: 100%;					/*высота 100% */
	}

	.info_film img {					/*стиль картинки в блоке info_film*/
		width: 90%;						/*ширина картинки 90% от блока info_film*/
		margin-bottom: 5%;				/*внешний, нижнний отступ*/
	}

	.button {							/*стиль кнопки*/
		float: none;					/*применение расположения объекта: не используется*/
	}

/* rating page mobile 320*568*/			/*стиль страницы rating page 320*568*/

	table {								/*стили для таблиц*/
		display: block;					/*элемент показывается как блочный*/
	}

	th {								/*стиль для заголовочной ячейки*/
		font-size: 75%;					/*размер шрифта*/
	}

	td {								/*стиль для строчной ячейки*/
		padding: 0;						/*без внутренненго отступа*/
		margin: 0;						/*без внешнего отступа*/
		font-size: 95%;					/*размер шрифта*/
		text-align: left;				/*расположение текста внутри строчной ячейки по левому краю*/
	}

	/* show page mobile 320*568 */		/*стиль для страницы просмотра фильма*/

	iframe {							/*стиль для окна воспроизведения с ютуба*/
		width: 88%;						/*ширина окна воспр.*/
		height: 100%;					/*высота окна воспр.*/			
	}

	.descriptions_film {				/*стиль описания фильма на странице films*/
		width: 90%;						/*высота*/
		text-align: left;				/*текст с левой стороны*/
		margin-left: 2%;				/*отступ с лева*/
	}

	.descriptions_film img {			/*стиль картинки находящийся в блоке descriptions_film*/
		float: none;					/*применение расположения объекта: не используется*/
		width: 73%;						/*высота*/
		/*display: block;				/*элемент показывается как блочный*/
		margin: 0;						/*без внешнего отступа*/
		padding: 0;						/*без внутренненго отступа*/
		margin-left: 11%;				/*внешний отступ слева*/
		margin-bottom: 7%;				/*внешний отступ снизу*/
	}

	.reviews { 							/*стили блоков для оставленных отзывов */
		text-align: center;				/*тексты по центру*/
		width: 96%;						/*ширина*/
	}

	.send input[type="text"] {			/*в блоке стилей send для ввода данных, тип - текстовый*/
		width: 80%;						/*ширина*/
	}

	.send textarea {					/*в блоке стилей send для ввода данных, тип - текст ареа (ввод большого количества текста) */
		width: 85%;						/*ширина*/
	}
}
