* {   							/*эти стили применимы ко всей странице*/
	margin:0; 					/*внешний отступ 0 - на всю страницу*/
	padding: 0; 				/*внутренний отступ 0*/
}

/*стили приминяемые к класам, тегам во всей странице описываем сверху*/

body { 							/*стиль для тела сайта - body*/
	font-size: 1.2em; 			/*размер шрифта*/
	background-color: #fff;		/*цвет фона*/
	color: #555;				/*цвет шрифта*/
}

p { 							/*стиль для заголовков*/
	padding: 0 0 20px 0;		/*внутренний, нижний отступ*/
	line-height: 1.7em;			/*межстрочный интервал*/
}

input[type="text"], input[type="password"], input[type="search"] {  /*общие стили для ввода данных:текста, паролей, поиска*/
	color: #5d5d5d;													/*цвет ввода данных*/
	width:60%;														/*ширина полей для ввода*/		
	padding: 8px;													/*внутренний отступ по всем краям 8px - устанавливает размер поля ввода*/
}

input, textarea {			 	/*стили для всех вводов данных и ввода текста*/  
	outline: none;  			/*такой же как border, только не влияет на ширину элемента*/
	border: none;  				/*outline:none, border:none - если их прописать то рамка не будет подсвечиватся и отобразится без подсвечивающих линий при наведений и вводе данных*/
	border:solid 1px #f2f2f2;	/*цвет рамки*/
}

h1, h2 {						/*стили для заголовков и подзаголовков*/
	font: normal 170% 'century gothic', arial; /*шрифт, обычный размер 170, arial*/
	margin: 0 0 15px 0;			/*внутренний нижний отступ*/			
	padding: 15px 0 5px 0;		/*верхний и нижний внутренний отступ*/
	color: #000;				/*цвет шрифта*/
}

h2 {							/*цвета для всех подзаголовков*/
	font-size: 140%;			/*шрифт 140%, поменьше чем заголовок*/
}

a, a:hover {					/*стили для ссылок и наведении на ссылки*/
	outline: none;				/*убирает рамки*/
	text-decoration: underline; /*оформление ссылок с подчеркиванием*/
	color: #aeb002;				/*цвет ссылок*/
}

ul {							/*стили к маркированным спискам, элементы списка также наследуют этот стиль*/
	margin: 2px 0 22px 17px;	/*отступы сверху, снизу и слева*/
}

ul li {						/*стили к элементам списка*/
	margin: 0 0 6px 0;			
	padding: 0 0 4px 5px;
	line-height: 1.5em;		/*межстрочный интервал*/
}

.header { 
	background-color: darkslateblue; /* цвет фона меню header*/
	height: 177px; 			/*высота*/
	font-size: 0.8em; 		/*размер шрифта*/
	margin-left: 0px; 		/*внешний отступ слева*/
	margin-right: 0px; 		/*внешний отступ справа*/
	min-width: 900px; 		/*минимальная ширина элемента, если окно браузера по ширине становится меньше заданной ширины то ширина элемента останется неизменной а в окне появится полоса прокрутки*/
}

.main, .logo, .menubar, .site_content, .footer { /*для текущих блоков устанавливаем автоматический внешний отступ*/
	margin-left: auto;
	margin-right: auto;
}

.logo { 					/*стили блока logo, блок на котором написан текс логотипа*/
	width: 880px; 			/*ширина блока*/
	padding-bottom: 40px; 	/*внутренний, нижний отступ */
}

.logo h1, .logo h2 {        /*стили для блока логотипа: Заголовок(h1), подзаголовок(h2)*/
	font: normal 300% 'century gothic', arial, sans-serif; /*шрифт, Значение normal применяется сразу к двум свойствам: font-style и font-weight*/
	margin: 0 0 0 9px; 		/*Внешний отступ с левого края*/
}

.logo_text h1, .logo_text h1 a, .logo_text h1 a:hover { /*стили для текста логотипа h1 "КиноМания", для ссылки a1 логотипа "КиноМания", также стиль элемента при наведений на ссылку hover*/
	padding: 22px 0 0 0;    /*внутренний отступ по высоте от блока logo*/
	color: #fff;         	/*цвет текста*/
	letter-spacing: 0.1em;	/*интервал между символами по размеру шрифта - "em"*/
	text-decoration: none;	/*убрать подчеркивание - none - отменяет все эффекты*/
}

.logo_text h2 {         	/*Установка стилей для подзаголовка h2 "Кино-наша жизнь"*/
	font-size: 0.9em;   	/*Размер шрифта текса*/
	padding: 4px 0 0 0; 	/*верхний внутренний отступ текста в блоке logo*/
	color: #999;        	/*цвет текста "Кино-наша жизнь"*/
}

.menubar {     				/*Установка ширины и высоты блока menubar*/
	width: 900px; 
	height: 46px;
}

ul.menu { 					/*стиль меню - menu*/
	float: right;  			/*выравнивание по правому краю блока menubar*/
}

ul.menu li {             	/*стили списков menu*/
	float: left;			/*выравнивание по левому краю*/
	padding: 0 0 0 9px; 	/*внутренний отступ по левому краю от блока menubar*/
	list-style: none;    	/*убрать точки со списка меню*/
	margin: 1px 2px 0 0; 	/*внешний верхний отступ*/
}

ul.menu li a {									/*стили списка меню, ссылки*/
	font:normal 100% 'trebuchet ms', sans-serif; /*шрифт, Значение normal применяется сразу к двум свойствам: font-style и font-weight*/
	display: block; 		/*элемент показывается как блочный*/
	height: 20px;			/*высота*/
	padding: 6px 35px 5px 28px; /*внутренний отступ*/
	color: #fff;			/*цвет*/
	text-decoration: none;	/*убрать подчеркивания, none - отменяет все эфекты*/
}

ul.menu li.selected a { 	/* при переходе в строку меню ul.menu li (выбор строки) подсвечивается цветом указанном в color*/
	color: #aeb002;
}

ul.menu li a:hover {   		/*при наведений курсора на меню ссылки(li - a) подсвечивается цветом указанный в color (hover подсвечивает при наведений)*/
	color: #e4ec04;
}

.site_content {
	width: 880px; 			/*ширина блока*/
	overflow:hidden; 		/* скрыть контент который выходит за рамки заданного размера -если что-то выходит за рамки заданного размера Div(блока) то это не отображается*/
	margin: 20px auto 0 auto; /*внешний отступ с верхней стороны 20рх*/
	background-color: white; /*белый цвет фона*/
}

.sidebar_container {		/*стили для правого блока сайта*/	
	float: right;			/*прижать к правому краю*/
	width: 224px;			/*ширина блока*/
}

.sidebar {					/*стили блоков внутри правого блока*/
	float: right;			/*прижать к правому краю*/
	width: 222px;			/*ширина*/
	padding: 5%;			/*внутренний отступ 5%*/
	margin: 0 0 16px 0;		/*внешний нижний отступ*/
	border: solid 1px #f2f2f2; /*border - рамка вокруг блока, solid - тип рамки, 1px-толщина, цвет*/ 
	border-radius: 5px; 	/*округляет края рамки*/ /*border создает рамку, в данном случае вокруг блоков правого блока sidebar_container*/
	background-color: #f9f9f9; /*фон блока, то что внутри рамки*/
}

.btn { 						/*стили для кнопок */
	padding: 8px;
	background-color: white;
	cursor: pointer;		/*устанавливает форму курсора пальчика, при наведений на кнопку*/
}

.sidebar h2 {				/*стили для подзаголовков внутри блока sidebar*/
	color: #136cb2;			
}

.lables_passreg_text {		/*стиль для ссылки регистрация и восстановления пароля*/
	font-size: 0.7em;	
	margin-top: 3%;
	margin-left: 2%;
}

.sidebar ul {				/*стиль для маркированного списка, блока sidebar - в данном случае рейтинг фильмов*/
	margin: 0;
}

.sidebar ul li {			/*стили для элементов маркированного списка, блока sidebar*/
	list-style-type: none;	/*убрать маркеры с элементов маркированного списка (точки рядом со списком)*/
	margin: 0 0 0 0;
}

.sidebar .rating_sidebar {	/*стили для списка - блока рейтинг фильмов* - приминимы только на название фильмов в рейтинге, используется span*/
	float: right;			/*прижать с права список фильмов в блоке рейтинг фильмов*/
}

.content {
	text-align: left;
	width: 620px;
	padding: 0 0 0 5px;
	float: left;
}

.content a {
	text-decoration: none;

}

.films_block {
	margin-bottom: 5%;
}

.films_block img {
	border-radius: 5px;
	border:solid 5px #dad7d5; /**/
	width: 22%;
}

.footer {					/*стили для нижней части сайта*/
	width: 100%;			/*ширина на всю ширину сайта*/
	height: 100px;			/*высота 100px*/
	padding: 28px 0 5px 0;	/*отступ сверху и снизу*/
	text-align: center;		/*разместить текст по центру*/
	background-color: darkslateblue;	/*фон стиля*/
	color: #a8aa94;			/*цвет текста*/
	margin-left: 0px;		/*внешнего отсупа слева нет*/
	margin-right: 0px;		/*внешнего отсупа справа нет*/	
	min-width: 900px;		/*Если окно браузера становится меньше чем 900px то ширина элемента остается не изменной - у нас фиксированная верстка*/
}

.footer a {					/*стиль для ссылок блока footer*/
	color: #a8aa94;			/*цвет*/
	text-decoration: none;	/*оформление текста отсутствует*/
}

.footer a:hover {			/*стиль при наведении на ссылку в блоке footer*/
	color: #fff;			
	text-decoration: none;
}

.footer p {					/*стиль подзаголовка в блоке footer*/
	padding: 0 0 10px 0;
}


/*******/


